<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <link rel="stylesheet" href="asset/css/style.css">
                
                <title>Hotel nuevo</title>
            </head>
            <body>
                <ul>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="index.html#habitaciones">Habitaciones</a></li>
                    <li><a href="index.html#eventos">Eventos</a></li>
                    <li><a href="index.html#contact">Contacto</a></li>
					<li><a class="active" href="index.html">Home</a></li>
                 
            
                  </ul>
            
                 
				
				    <section class="habitaciones" id="habitaciones" >
					<center>
      
       
			 </center>
    </section>
				
				     </section>
					 
					   <H1>RESERVA UNA HABITACIÓN STANDARD</H1>
					   
					<H1>COMODIDADES</H1>
					<center>
                <table >
                     <tr>
                          <th>BAÑO PRIVADO</th>
                          <th>WI FI GRATIS </th> 
                          <th>CAMA DE 2 PLAZAS  </th>
						  <th>OTRAS COMODIDADES  </th>
                     </tr>
					 
                     <tr>
                          <td><img src="asset/imagen/s1.jpg" width="400" height="350"> </td>
                          <td><img src="asset/imagen/s2.png" width="400" height="350"></td>
                          <td><img src="asset/imagen/s3.jpg" width="400" height="350"></td>
						  <td>
						  
						→ TV con Cable<br/>
						→ Secadora de pelo<br/>
						→ Calentador a pedido<br/>
						→ Caja fuerte<br/>
						→ Almohadas y mantas extras<br/>
						→ Recepción las 24 horas<br/>
						→ Agua caliente las 24 horas<br/>
						→ Agua de cortesía

						  
						  
						  </td>
                     </tr>
                     <tr>
                            <td><center>Baño espacioso con bañera</center> </a>                      </td>
                            <td><center>Servicio de WI FI de alta velocidad las 24 horas</center></a>                      </td>
                            <td><center>Cama de 2 plazas </center>                    </td>
                    </tr>
                    
                </table>
					   </center>
					   
    <footer>
        
					  <center><br><br><p>Todos los derechos reservados <br> 2019</p></center>
        </section>
    </footer>
				
				
        <script src="asset/js/js.js"></script>
    </body>
</html>