.menu{
  display: flex;
  justify-content: flex-end;
  background-color: #8FAC39;
  
	height:45px;
	width:100%;
	font-size: 0.7em;
  font-weight: bold;
  font-family: Arial;
}
ul{
  display: flex;
  
}
li{
  padding: 5px 10px;
  width: 65px;
  text-align: center;
  list-style-type: none;
  
  }
  
  a:hover { 
  color: #DFC1FE;
}

a {
	text-decoration:none;
	
	
}


.menu--link{
  
  color: white;

}

div.eventos {
  border: 3px solid rgba(0, 0, 0, 0);
  margin: 5px;
  padding: 8px;
}


nav  {
  display: inline;
  
}


