.menu{
  display: flex;
  justify-content: flex-end;
  background-color: #BCD175;
  
  height:70px;
  font-size: 1em;
  font-weight: bold;
  font-family: Arial;
}
ul{
  display: flex;
}
li{
  padding: 5px 10px;
  width: 105px;
  text-align: center;
  list-style-type: none;
  
  }


.menu--link{
  
  color: #286977;

}

